@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main .box1 h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
}

.main img {
  width: 100%;
  height: 100%;
}
.main .box2 h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
}
.main .box3 h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
}
.main .box4 h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
}

.main .box1 h2 {
  font-size: 36px;
  font-weight: 700;
}
.main .box2 h2 {
  font-size: 36px;
  font-weight: 700;
}
.main .box3 h2 {
  font-size: 36px;
  font-weight: 700;
}
.main .box4 h2 {
  font-size: 36px;
  font-weight: 700;
}

.main .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 1px solid rgba(255, 248, 220, 0.123);
  text-align: center;
  background-color: rgba(102, 102, 102, 0.466);
  border-radius: 15px;
  position: absolute;
  top: 100px;
  left: 100px;
  height: 400px;
  width: 600px;
  color: #fff;
}
.main .info p {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 100;
}

.font1 {
  font-size: 25px;
}
.numder {
  font-size: 28px;
}

.box1 {
  border: 1px solid rgba(255, 248, 220, 0.096);
  text-align: center;
  background: #e1298e;
  border-radius: 15px;
  position: absolute;
  top: 150px;
  right: 80px;
  height: 140px;
  width: 620px;
  color: #fff;
  padding: 10px;
}
.box2 {
  border: 1px solid rgba(255, 248, 220, 0.116);
  text-align: center;
  background-color: #046034;
  border-radius: 15px;
  position: absolute;
  top: 300px;
  right: 500px;
  height: 140px;
  width: 200px;
  color: #fff;
}
.box3 {
  border: 1px solid rgba(255, 248, 220, 0.082);
  text-align: center;
  background-color: #179c9b;
  border-radius: 15px;
  position: absolute;
  top: 300px;
  right: 290px;
  height: 140px;
  width: 200px;
  color: #fff;
}
.box4 {
  border: 1px solid rgba(255, 248, 220, 0.075);
  text-align: center;
  background-color: rgb(146, 143, 143);
  border-radius: 15px;
  position: absolute;
  top: 300px;
  right: 80px;
  height: 140px;
  width: 200px;
  color: #fff;
}
